    <tr>
        <th>
            {{localize "quality"}}
        </th>
        <td>
            {{localize system.quality}}
        </td>
    </tr>
    <tr>
        <th>
            {{localize "group"}}
        </th>
        <td>
            <a class="property-choices-edit edit" data-parameters='group;system.group;choices.items.groups;1'
                title='{{localize "edit"}}'>
                {{ localize system.group }} <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>